ALLOW_HOST='localhost,127.0.0.1'
DB_HOST=db
DB_NAME=app
DB_USER=postgres
DB_PASS=supersecretpassword
ENGINE=django.db.backends.postgresql
DEBUG=True
RECAPTCHA_SITE_KEY=your_site_key
RECAPTCHA_SECRET_KEY=your_api_secret_key
EMAIL_BACKEND='django.core.mail.backends.smtp.EmailBackend'
EMAIL_HOST='smtp.gmail.com'  # veya başka bir SMTP sunucusu
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER='your-email@gmail.com'
EMAIL_HOST_PASSWORD='your-app-password'
DEFAULT_FROM_EMAIL=EMAIL_HOST_USER
SITE_URL='http://localhost:8000'
