services:
    app:
        build:
            context: .
            args:
                - DEV=true
        ports:
            - "8000:8000"
        volumes:
            - ./:/app
        command: >
            sh -c "python manage.py wait_for_db &&
                   python manage.py migrate &&
                   python manage.py runserver 0.0.0.0:8000"
            #opsiyonel
            #./scripts/wait-for-db.sh db && 
        environment:
            - ALLOW_HOST=0.0.0.0
            - DB_HOST=db
            - DB_NAME=app
            - DB_USER=postgres
            - DB_PASS=supersecretpassword
            - DB_ENGINE=django.db.backends.postgresql
            - DEBUG=True
            - RECAPTCHA_SITE_KEY=your_site_key
            - RECAPTCHA_SECRET_KEY=your_api_secret_key
        depends_on:
            - db
        networks:
            - api-network

    db:
        image: postgres:13-alpine
        volumes:
            - ./data/:/var/lib/postgresql/data
        environment:
            - POSTGRES_DB=app
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=supersecretpassword
        networks:
            - api-network
networks:
    api-network:
        driver: bridge
